
/* Modifico il container-fluid  */
.container-fluid {
  width: 65%;
}

.navigation {
  width: 100%;
}

ul li {
  list-style: none;
}

/* Modifiche nav left */
nav {
  margin-top: 40px;
}

nav.navbar-left a img {
  width: 20px;
}

.navbar-left ul li a.item {
  margin: 0 20px;
}

/* Modifiche nav right */

.navbar-right ul.list-right li a{
  margin: 0 10px;
}


.navbar-right {
  width: 80%;
}



/* Tasto accedi */
#login {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 20px;
}

.nav-item {
  margin-bottom: 20px;
}


.dropdown-menu {
  display: none;
  min-width: 50px;
  margin-top: 10px;
  margin-left: 20px;
}


#special {
  width: 500px;
}


/* Tasto scarica */

#download {
  background-color: #191c1f;
  border-radius: 10px;
  padding: 10px 20px;
}

/* dropdown */

.prova {
  margin-top: 10px;
}
