.container-fluid {
  width: 75%;
}

.navigation {
  width: 100%;
}

ul li {
  list-style: none;
}

/* Modifiche nav left */
nav {
  margin-top: 40px;
}

nav.navbar-left a img {
  width: 20px;
}

.navbar-left ul li a.item {
  margin: 0 20px;
}

/* Modifiche nav right */

.navbar-right ul.list-right li a{
  margin: 0 10px;
}


.navbar-right {
  width: 90%;
}

.navbar-left {
  width: 10%;
}

/* Modifiche Boostrap */
ul li a.dropdown-item:hover {
  background: none;
}

.dropdown-item {
  color: grey;
}

#login {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 20px;
}

.nav-item {
  margin-bottom: 20px;
}

.dropdown-menu {
  margin-left: 10px;
  display: none;
  min-width: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

.active {
  display: block;
}


#special {
  width: 500px;
}


/* Tasto scarica */

#download {
  background-color: #191c1f;
  border-radius: 10px;
  padding: 10px 20px;
}
