
/* Modifico il container-fluid  */
.container-fluid {
  width: 70%;
}

/* Modifiche nav left */
nav {
  margin-top: 40px;
}

nav.navbar a img {
  width: 20px;
}

ul.navbar-nav li a.nav-link {
  margin: 0 20px;
}

/* Modifiche nav right */

.navbar-right ul.nav li {
  margin: 0 15px;
}
