.container-fluid {
  width: 75%;
}

.navigation {
  width: 100%;
}

ul li {
  list-style: none;
}

/* Modifiche nav left */
nav {
  margin-top: 40px;
}

nav.navbar-left a img {
  width: 20px;
}

.navbar-left ul li a.item {
  margin: 0 20px;
}

/* Modifiche nav right */

.navbar-right ul.list-right li a{
  margin: 0 10px;
}


.navbar-right {
  width: 90%;
}

.navbar-left {
  width: 10%;
}

.container-main {
  width: 69%;
  margin: 0 auto;
}
/* Modifiche Boostrap */
ul li a.dropdown-item:hover {
  background: none;
}

.dropdown-item {
  color: grey;
}

#login {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 20px;
}

.nav-item {
  margin-bottom: 20px;
}

.dropdown-menu {
  display: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

.active {
  display: block;
}

.submenu {
  width: 900px;
  padding: 0 20px;
}

.submenu ul li {
  padding: 0;
  margin: 0;
}

.submenu ul {
  padding: 0 20px;
  margin: 0;
}

.submenu ul li a.dropdown-item {
  font-size: 15px;
  padding: 10px 0;
  margin: 0;
}

.submenu ul li a:first-child {
  text-align: left;
  font-weight: bold;
  color: #D7DDE1;
  font-size: 12px;
}

.submenu ul li a i {
  padding: 0 5px;
}

/* Main */

#main-img {
  width: 480px;
}

.title p {
  margin-top: 50px;
  font-size: 18px;
}


/* Tasto scarica */

#download {
  background-color: #191c1f;
  border-radius: 10px;
  padding: 10px 20px;
}
