
/* Modifico il container-fluid  */
.container-fluid {
  width: 70%;
}

/* Modifiche nav left */
nav {
  margin-top: 40px;
}

nav.navbar a img {
  width: 20px;
}

ul.navbar-nav li a.nav-link {
  margin: 0 20px;
}

/* Modifiche nav right */

.navbar-right ul.nav li {
  margin: 0 10px;
}

/* Tasto accedi */
#login {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 20px;
}

/* Tasto scarica */

#download {
  background-color: #191c1f;
  border-radius: 10px;
  padding: 10px 20px;
}
